<% layout('layouts/boilerplate') %>
<h3>Agregar Viaje</h3>

<form class="mb-2" action="/viajes" method="POST">
  <div class="mb-3">
    <label for="unidad" class="form-label">Unidades</label>
    <select class="form-control" id="unidad" name="viaje[unidad]">
      <% for(let unidad of unidades) { %>
      <option value="<%= unidad.unidad %>"><%= unidad.unidad %></option>
      <% } %>
    </select>
  </div>
  <div class="mb-3">
    <label for="fecha" class="form-label">Fecha</label>
    <input type="date" class="form-control" id="fecha" name="viaje[fecha]" />
  </div>
  <div class="mb-3">
    <label for="remision" class="form-label">Remision</label>
    <input
      type="number"
      class="form-control"
      id="remision"
      name="viaje[remision]"
    />
  </div>
  <div class="mb-3">
    <label for="origen" class="form-label">Origen</label>
    <input type="text" class="form-control" id="origen" name="viaje[origen]" />
  </div>
  <div class="mb-3">
    <label for="destino" class="form-label">Destino</label>
    <input
      type="text"
      class="form-control"
      id="destino"
      name="viaje[destino]"
    />
  </div>
  <div class="mb-3">
    <label for="operador" class="form-label">Operador</label>
    <select class="form-control" id="operador" name="viaje[operador]">
      <% for(let operador of operadores) { %>
      <option value="<%= operador.nombre %>"><%= operador.nombre %></option>
      <% } %>
    </select>
  </div>
  <div class="mb-3">
    <label for="flete" class="form-label">Flete</label>
    <input type="number" class="form-control" id="flete" name="viaje[flete]" />
  </div>
  <div class="mb-3">
    <label for="factura" class="form-label">Factura</label>
    <input
      type="number"
      class="form-control"
      id="factura"
      name="viaje[factura]"
    />
  </div>
  <div class="mb-3">
    <label for="observaciones" class="form-label">Observaciones</label>
    <input
      type="text"
      class="form-control"
      id="observaciones"
      name="viaje[observaciones]"
    />
  </div>
  <button type="submit" class="btn btn-primary">Agregar viaje</button>
  <a class="btn btn-outline-secondary" href="/viajes">Regresar al menu</a>
</form>
