<% layout('layouts/boilerplate') %>

<div class="row">
  <% for(let unidad of unidades) { %>
  <div class="col-sm-6">
    <div class="card mb-2">
      <div class="card-body">
        <h5 class="card-title"><%= unidad.unidad %></h5>
        <a href="/unidades/<%= unidad._id %> " class="btn btn-primary"
          >Editar</a
        >
      </div>
    </div>
  </div>
  <% } %>
</div>

<a href="/unidades" class="btn btn-primary mb-2">Regresar al menu</a>
