<% layout('layouts/boilerplate') %>

<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <img
        src="https://images.unsplash.com/photo-1564957341116-ab017c60daca?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80"
        class="card-img-top"
        alt="semi-truck"
      />
      <div class="card-body">
        <h5 class="card-title">Agregar unidad</h5>
        <p class="card-text">Entra aqui para agregar a una nueva unidad.</p>
        <a href="/unidades/nuevo" class="btn btn-primary">Agregar</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img
        src="https://images.unsplash.com/photo-1541969487406-1f1adf3884ab?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1655&q=80"
        class="card-img-top"
        alt="semi-truck"
      />
      <div class="card-body">
        <h5 class="card-title">Ver unidades</h5>
        <p class="card-text">Entra aqui para ver las unidades.</p>
        <a href="/unidades/buscar" class="btn btn-primary">Ver</a>
      </div>
    </div>
  </div>
</div>
