<% layout('layouts/boilerplate') %>

<div class="card">
  <div class="card-header text-center">Información de la unidad</div>
  <div class="card-body">
    <p class="card-text">Unidad: <%= unidad.unidad %></p>
    <div class="text-center">
      <a href="/unidades/buscar" class="btn btn-outline-secondary"
        >Ver unidades</a
      >
      <a
        href="/unidades/<%= unidad._id %>/editar"
        class="btn btn-outline-warning"
        >Editar</a
      >
      <form
        class="d-inline"
        action="/unidades/<%= unidad._id %>?_method=DELETE"
        method="POST"
      >
        <button class="btn btn-outline-danger">Eliminar</button>
      </form>
    </div>
  </div>
</div>
