<% layout('layouts/boilerplate') %>
<h3>Agregar Unidad</h3>

<form class="mb-2" action="/unidades" method="POST">
  <div class="mb-3">
    <label for="unidad" class="form-label">Unidad</label>
    <input
      type="number"
      class="form-control"
      id="unidad"
      name="unidad[unidad]"
    />
  </div>
  <button type="submit" class="btn btn-primary">Agregar Unidad</button>
  <a class="btn btn-outline-secondary" href="/unidades">Regresar al menu</a>
</form>
